.root {
    -fx-background-image: url("background.jpg");
}


.table-view {
    -fx-background-color: transparent;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-text-fill: white;
}

.table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}


.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

#lbProductName {
    -fx-text-fill: white;
    -fx-font-size: 16px;

}

#lbManufacturer {
    -fx-text-fill: white;
    -fx-font-size: 16px;

}

#lbItemType {
    -fx-text-fill: white;
    -fx-font-size: 16px;

}

#lbExistingProduct {
    -fx-text-fill: white;
    -fx-font-size: 16px;

}

#tbExistingProd {
    -fx-text-fill: black;
    -fx-font-size: 16px;
}

#productLabelLabel {
    -fx-text-fill: black;
    -fx-font-size: 48px;
}

#produceLabels2 {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

#produceLabels3 {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

#employeeLabel1 {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

#employeeLabel2 {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

#employeeLabel3 {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}


#btnaddproduct {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#searchBtn {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#RecordProduction {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#ItemTypeCombobox {
    -fx-text-fill: black;
}

#tab1 {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

#tab2 {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

#tab3 {
    -fx-font-weight: Bold;
    -fx-font-size: 16;
}

#tab4 {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

#txtar {
    -fx-font-size: 14px;
}

#lvChooseProduct {
    -fx-font-size: 16px;
}

.table-view {
    -fx-background-color: transparent;
}

.table-cell .name-column {
    -fx-background-color: palegreen;
}

.table-view .column-header.name-column {
    -fx-base: palegreen;
}

#accountTextArea {
    -fx-font-size: 18px;
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#welcome-text {
    -fx-font-size: 32px;
    -fx-font-family: "Arial White";
    -fx-fill: #818181;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
}

#addProduct {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}